<a href="https://colab.research.google.com/github/Mounsef1/Elantra-sales/blob/main/Linear%20model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
from tensorflow.python.client import device_lib
device_lib.list_local_devices()

[name: "/device:CPU:0"
 device_type: "CPU"
 memory_limit: 268435456
 locality {
 }
 incarnation: 14687296328944288979]

In [42]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [43]:
#Import useful packages
import pandas as pd  
import numpy as np  
import math
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
import statsmodels.api as sm
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

In [44]:
#Read data
data=pd.read_csv('/content/drive/My Drive/Elantra.csv')
data.head()

   Month  Year  ElantraSales  Unemployment  Queries  CPI.Energy  CPI.All
0      1  2010          7690           9.7      153     213.377  217.466
1      1  2011          9659           9.1      259     229.353  221.082
2      1  2012         10900           8.2      354     244.178  227.666
3      1  2013         12174           7.9      230     242.560  231.321
4      1  2014         15326           6.6      232     247.575  234.933

In [45]:
data.shape

(50, 7)

In [46]:
data.describe()

           Month         Year  ElantraSales  ...     Queries  CPI.Energy     CPI.All
count  50.000000    50.000000     50.000000  ...   50.000000   50.000000   50.000000
mean    6.300000  2011.600000  16005.440000  ...  263.480000  236.945280  226.739040
std     3.558548     1.212183   4887.924676  ...   77.982007   15.393399    5.942194
min     1.000000  2010.000000   7690.000000  ...  130.000000  204.161000  217.251000
25%     3.000000  2011.000000  12560.500000  ...  224.750000  230.061750  221.265500
50%     6.000000  2012.000000  15624.500000  ...  262.500000  244.388000  227.902000
75%     9.000000  2013.000000  19197.250000  ...  311.000000  247.061750  231.693250
max    12.000000  2014.000000  26153.000000  ...  427.000000  256.389000  235.169000

[8 rows x 7 columns]

In [47]:
data.dtypes

Month             int64
Year              int64
ElantraSales      int64
Unemployment    float64
Queries           int64
CPI.Energy      float64
CPI.All         float64
dtype: object

In [48]:
X = ['Unemployment', 'Queries', 'CPI.Energy', 'CPI.All'] #independent variables
y = ['ElantraSales'] #dependent
print(X)

['Unemployment', 'Queries', 'CPI.Energy', 'CPI.All']

In [49]:
test_set = data.loc[data['Year'].isin([2013,2014])]
training_set = data.loc[data['Year'].isin([2010,2011,2012])]

In [50]:
X_train = training_set[X].values
y_train = training_set[y].values

X_test = test_set[X].values
y_test = test_set[y].values

In [51]:
regressor = LinearRegression()

regressor.fit(X_train, y_train)

print(regressor.coef_)

[[-3179.89957338    19.02968262    38.50603685  -297.6456256 ]]

In [66]:
y_pred = regressor.predict(X_test)

table = pd.DataFrame({'Actual':y_test[:,-1], 'Predected':y_pred[:,-1], 'Delta':y_test[:,-1]-y_pred[:,-1]})
table

    Actual     Predected        Delta
0    12174  15129.324510 -2955.324510
1    15326  18419.265096 -3093.265096
2    16219  15944.282804   274.717196
3    16393  18137.600072 -1744.600072
4    26153  17834.798498  8318.201502
5    24445  16486.455078  7958.544922
6    25090  16519.780333  8570.219667
7    22163  17765.698374  4397.301626
8    23958  17429.427906  6528.572094
9    24700  17597.602366  7102.397634
10   19691  18044.124071  1646.875929
11   14876  16520.884462 -1644.884462
12   16751  17193.075808  -442.075808
13   21692  19043.202721  2648.797279

In [72]:
# mean squared error
mse = np.mean((y_pred - y_test)**2)
rmse = math.sqrt(mse)
print('rmse=', rmse)

# calculate R^2

SSE = sum((y_test-y_pred)**2)
SST = sum((y_test-np.mean(y_pred))**2)
R_squared = 1- SSE/SST

print('SSE=', SSE[0])
print('SST=', SST[0])
print('R^2=', R_squared[0])

rmse= 5017.347620904415
SSE= 352432880.0859326
SST= 376916334.4944349
R^2= 0.0649572654932623